/* Default font for the entire body */
body {
    font-family: Arial, sans-serif;
    color: white; /* Set the default font color to white */
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    padding: 20px 0;
    background-image: url('header.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
  }

header .openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
}

header .openbtn:hover {
    background-color: black;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 15px;
}

.openbtn:hover {
    background-color: black;
}

/* Main content wrapper */
.mainWrapper {
    margin: 50px auto;
    padding: 50px;
    background: rgb(0, 0, 0);
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea.form-control {
    height: 150px;
    resize: none;
}

/* Button styles */
.button-group {
    text-align: center;
}

.button-group button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background-color: #007bff; /* Blue background color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.button-group button:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
}
